<h2>End Points</h2>
<br>
<h3>This is a title lookup</h3>
<h4>look up a new title replace query with a title you would like to search. This will check the database and cach if does not exist</h4>
<a href="/api/lookup/soul" >/api/lookup/&lt;query&gt;</a>
<br>
<h3>These are api endpoints</h3>
<a href="/api/view/streamingservices">/api/view/streamingservices</a><br>
<a href="/api/view/user_frequency">/api/view/user_frequency</a><br>
<a href="/api/view/user_profile">/api/view/user_profile ****This is a mega-ton of data*****</a><br>
<br>
<h3>Create User endpoint</h3>
/create_user