<!DOCTYPE html>
<html>
<head>
<title>Ripe Bananas!</title>
<link rel="shortcut icon" type="image/jpg" href="static/images/favicon.png"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<!-- Our own CSS stylesheet -->
<link rel="stylesheet" href="static/style/main.css" media="screen">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='style/titles.css')}}" media="screen">

<!-- CSS For Marker Clusters -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

<!-- D3 -->
<script src="https://d3js.org/d3.v6.min.js"></script>

<!-- Leaflet JS and CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<!-- Marker Cluster JS -->

                                    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

<!-- JavaScript file for the Marker Clusters -->
<script>
  API_KEY = '{{accessToken}}';
</script>
<script src="{{url_for('static', filename='js/app.js')}}" defer></script>
<script src="{{url_for('static', filename='js/config.js')}}" defer></script>
<script src="{{url_for('static', filename='js/marker-cluster-map.js')}}" defer></script>


</head>
<body id="myPage">

<!-- Sidebar on click
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav> -->

  

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-yellow"><i class="fa fa-home w3-margin-right"></i><img src="static/images/loho-v-b.png" style='max-height: 25px;' alt=""></a>
  <a href="#search" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Search</a>
  <a href="#streaming" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Streaming Services Comparison</a>
  <a href="#plotly" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Visualizations</a>
  <a href="#subscriber-map-section" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Subscribe</a>
  <a href="#theatre" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Theatres in DC</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Meet the Team</a>
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Streaming Platforms <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="https://www.netflix.com/" target="_blank" class="w3-bar-item w3-button">Netflix</a>
      <a href="https://www.hulu.com/" target="_blank" class="w3-bar-item w3-button">Hulu</a>
      <a href="https://www.primevideo.com/" target="_blank" class="w3-bar-item w3-button">Prime Video</a>
      <a href="https://www.hbomax.com/" target="_blank" class="w3-bar-item w3-button">HBO Max</a>
      <a href="https://www.disneyplus.com/" target="_blank" class="w3-bar-item w3-button">Disney Plus</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-yellow" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#search" class="w3-bar-item w3-button">Search</a>
    <a href="#streaming" class="w3-bar-item w3-button">Streaming Services Comparison</a>
    <a href="#plotly" class="w3-bar-item w3-button">Visualizations</a>
    <a href="#subscriber-map-section" class="w3-bar-item w3-button">Subscribe</a>
    <a href="#theatre" class="w3-bar-item w3-button">Theatres in DC</a>
    <a href="#team" class="w3-bar-item w3-button">Meet the Team</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <style>
    .mySlides {display:none;}
    </style>
    </head>
    
    <body>
    <!--
    <div class="w3-content w3-section" style="max-width:800px">
      <img class="mySlides" src="static/images/landing1.jpg" style="width:100%">
      <img class="mySlides" src="static/images/landing2.jpg" style="width:100%">
      <img class="mySlides" src="static/images/landing3.jpg" style="width:100%">
      <img class="mySlides" src="static/images/landing4.jpg" style="width:100%">
      <img class="mySlides" src="static/images/disney.jpg" style="width:100%">
    </div>
  -->
    <div class='jumbotron'>
      <img class="banner" src="static/images/r2.jpg" style="width:100%">
    </div>
    <script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
    </script>
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-ywllow" title="Surprise!">Click here for a surprise!</button>
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-yellow w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-yellow w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Isn't this intriguing?</h4>
    </header>
    <div class="w3-container">
      <p>What could this be...</p>
      <p>Click<a class="w3-text-yellow" href="https://www.youtube.com/embed/yfBRIRLvOuE" target="_blank"> here!</a> We promise it's worth your time!</p>
    </div>
    <footer class="w3-container w3-yellow">
      <p></p>
    </footer>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="search">
        <h2>Search</h2>
        <!-- Input form -->
        <form method="POST" action="/">
            <div id="search-10" class="widget_search">
        
                <div style="text-align: center;">
                <input class="ubicacion" type="text" value="" name="media_title" id="media_title">
                <input type="submit" id="searchsubmit" value="Search"/>
                </div>
            
            </div>
        </form>
        <div id="result-container" class="container">
        
          <!-- <h1>Results</h1> -->

          {% for t in titles %}
          <div class='singleTitleUnit'>
            <div class="row">
              <div class="col-lg-6">
                <img class='feature_img' src="{{t.feature_img}}" alt="">

                <h4 class='recommendedTitle'>Recommended Titles:</h4>
                <div>
                  {% for s in t.recommended[0:5] %}
                  <div>{{s}}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-6">
                <h3>{{t.title}}</h3>
                <h4>Where to watch:</h4>
                <div>
                  {% for s in t.services %}
                  
                  <div class='serviceItem' data-service="{{s}}">{{s}}</div>
                  {% endfor %}
                </div>
                <p>{{t.description}}</p>
                <label>IMDb Rating:</label>{{t.rating}}
                <label>Maturity Rating:</label>{{t.maturity}}
                <br>
                <label>Genre:</label>{{t.genre}}
                <label>Country:</label>{{t.country}}

              </div>
            </div>
          </div>
          {% endfor %}
          <script >

            function link_looker_upper() {
   

                  d3.json("/api/view/VW_ServicesURL").then((services) => {
                    
                    
                  });
            };
            link_looker_upper();
          </script>
        </div>
</div>

<!-- Streaming Comparison Row -->
<div class="w3-container w3-padding-64 w3-center" id="streaming">
    <h2>Streaming Platform Comparison</h2>
    <h4> Which streaming platform is right for you? Review the data below for the top 20 streaming platforms based on the following factors:
      <li>Cost</li>
      <li>Number of Shows and Movies</li>
      <li>Device Limit</li>
      <li>Number of User Profiles</li>
    </h4>
</div>

<!-- Plotly Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="plotly">
    <h2>Visualizations</h2>
    <h4>Need more help choosing a platform? Check out these interactive data visualizations!</h4><br>
</div>

<!-- Marker Cluster Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="subscriber-map-section" style="margin: auto;">
  <h2>Subscribers</h2>
  <h4>Interested in our subscribers? Check out where they are located!</h4><br>

  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class="w3-row-padding w3-center w3-padding-64" id="subscriber-map" style="height: 800px;, width:1000px;"></div>
      </div>
    </div>
  </div>
  
</div>

<div class="w3-row-padding w3-center w3-padding-64 container" id="subscriber-map-section" style="max-width: 600px;">
  <h2>Subscribe</h2>
  <h4>Subscribe!</h4><br>
      <div id="create-user-form" class="create-user-form">
        <h2>Enter your information below!</h2>
        <form method="POST" action="/create_user" role="form" , name="form">
          <div class="form-group">
            <label for="inputAge">Please enter your age</label>
            <input type="text" class="form-control" id="inputAge" name="userAge" placeholder="i.e., 21">
          </div>
          <div class="form-group">
            <label for="inputZip">Please enter your zip code</label>
            <input type="text" class="form-control" id="inputZip" name="userZip" placeholder="i.e., 00000">
          </div>
          <div class="form-group">
            <label for="inputFreq">How often do you use streaming services?</label>
            <select type="text" class="form-control" id="inputFreq" name="userFreq" placeholder="Click here">
              <option value='1'>Daily</option>
              <option value='2'>Weekly</option>
              <option value='3'>Monthly</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputServ">Service Selection (Ctrl + Click)</label>
            <select type="text" class="form-control" id="inputServ" name="userServ" placeholder="Click here" multiple>
            </select>
          </div>
          <input type="submit" value="submit" class="btn btn-primary">
        </form>
      
        <script>
          function init_servicelist() {
            var inputserv = d3.select('#inputServ')
            d3.json("/api/view/VW_ServiceByPopularity").then((services) => {
              inputserv.html('');
              services.forEach(service => {
                inputserv.append('option').attr('value', service['Service_ID']).text(service['Service_Name'])
                //console.log(service['Service_ID']); 
              });
            });
          };
          init_servicelist();

        </script>
      </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class="w3-row-padding w3-center w3-padding-64" id="subscribe">


        </div>
      </div>
    </div>
  </div>

</div>


<!-- Map Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="theatre">
  <h2>Movie Theatres in DC</h2>
  <h4>Just for fun - if you miss watching movies on the big screen, check out these local theatres in DC! Click the image below:</h4><br>
  <a href="/maps" target="_blank" rel="noopener noreferrer">
    <img src="static/images/dc.jpg" style="width:700px;height:700px;">
    </a>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
  <h2>Meet the Team</h2>
  <h4>AKA The Forgotten Dartlings!</h4>
  <img src="static/images/logo.jpg" style="width:600px;height:600px;">
  <img src="static/images/fb.jpg" style="width:600px;height:600px;">  
  <div class="w3-row"><br>
  
  <div class="w3-third">
    <h3>William Pappas</h3>
    <h5>Web Scraping Pro - basically a Whiz Kid</h5>
  </div>
  
  <div class="w3-third">
    <h3>Desiree Herschberger</h3>
    <h5>Database Queen! Phenomenal and brilliant! </h5>
  </div>
  
  <div class="w3-third">
    <h3>Redeat Bekele</h3>
    <h5>Exceptional and remarkable - What CAN'T she do?!</h5>
  </div>
  
  <div class="w3-third">
    <h3>Thomas Keane</h3>
    <h5>Flask and Plotly Wizard! Exceptional!</h5>
  </div>
  
  <div class="w3-third">
    <h3>Taslemun Nahar</h3>
    <h5>Java and HTML Artiste - absolutely incredible!</h5>
  </div>
  
  <div class="w3-third">
    <h3>Sveena Sharma</h3>
    <h5>Web Development - just here for a good time</h5>
  </div>
  
  </div>
  </div>

<!-- Start of Footer -->
<footer>
  <p>The Forgotten Dartlings 2021<br>
</footer>
<!-- End of Footer -->

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
