<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
<script> 
    function plot_results(){ 
        d3.json("/api/view/vw_service_count").then((data) => { 
            data.forEach(item => {
                console.log(item);
                /*  BUILD PLOTS HERE USE YOUR Bellybutton Biodiversity Excercise
                */
            }); 
        });
        d3.json("/api/view/vw_service_type_count").then((data) => {
            data.forEach(item => {
                console.log(item);
                /*  BUILD PLOTS HERE USE YOUR Bellybutton Biodiversity Excercise
                */
            });
        });
        
    };
    plot_results(); 
  
</script>